<%- include("header") -%>
    <h1 style="color:#A683E3; text-align: center; font-size: 3rem;">Aim-To-Do</h1>

    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
        <% newListItems.forEach((item)=>{ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name = "checkbox" onchange="this.form.submit()" value="<%= item._id %>">
                    <p> <%= item.name %> </p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>"></input>
            </form>
        <% }) %>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New to-do" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>    
    </div>
<%- include("footer") -%>
